<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
        <link rel="stylesheet" href="app.css">
</head>

<body class="xanter">

    <div>
            <div>
                    <h2 class="gradient"> Приветствуем на сайте компании (Компания)</h2>
                <p>Мы — зарегистрированная торговая марка, и больше никто в стране не имеет права работать под эти именем. Мы создали компанию ради продвижения культовых брендов и хайповой одежды в Украине. Мы хотим, чтобы наша молодежь была самой стильной. Мы знаем о том, что Вы цените свободу и стремитесь выразить себя. Одежда — это отражение внутреннего мира, морального состояния и статуса человека. Не становись серой массой, не поддавайся нормкору!
                </p>
                <p>В коллекциях на сайте нет ни одной вещи прошлого сезона. Обновляем ассортимент каждые 14 дней. Предлагаем качественные реплики одежды.
                </p>
                <p>Модели полностью повторяют крой, дизайн, качество ткани и фурнитуры аутентичных вещей. На изделиях оригинальные бирки.
                </p>
                <h2 class="how">Как нас найти?</h2>
                <p>В скором времени мы планируем открыть три новых магазина в разных городах Украины. Пока предлагаем посетить наш шоу-рум по адресу: г. Запорожье, ул. Чуйкова 21, Здесь можно приобрести топовый шмот, обувь, модные аксессуары по ценам обычных вещей. Шоу-рум работает с 12:00 до 18:00 каждый день.
                </p>
                <p>Всегда рады новым заказам в интернет-магазине hype.ua. У нас самый большой ассортимент хайповой одежды в Украине — более 300 моделей на сайте. Доставим заказ уже в течение 1–2 дней после оформления заказа. Оплатить его можно при получении, после примерки и осмотра.
                </p>
                <h2 class="bonus">Бонусы для клиентов</h2>
                <p>Сегодня мы предлагаем:
                </p>
                <ul>
                    <li>бесплатную доставку Новой Почтой — лучшей экспресс-доставкой в Украине;</li>
                    <li>карту клиента с постоянной скидкой —10% после первой покупки;</li>
                </ul>
                <h2 class="part">Партнерам</h2>
                <p>Хотите продвигать культовые бренды вместе с нами? Присоединяйтесь! Предлагаем несколько вариантов сотрудничества:
                </p>
                <ul>
                    <li>дропшиппинг;</li>
                    <li>опт;</li>
                    <li>размещение партнерских ссылок и рекламы.</li>
                </ul>
                <p>Подробности можно узнать в соответствующих разделах или у менеджера по телефону на сайте.
                </p>
                <h2 class="contact1">Контакты</h2>
                <p>Оформить заказ, задать вопрос, оставить пожелание об организации работы магазина можно по номеру: +380962232999 или e-mail: dym8750@gmail.com
                </p>
                <p>С предложением о сотрудничестве или, чтобы уточнить оптовые цены на товар обращайтесь по эл. адресу: dym8750@gmail.com</p>
                
                            </div>







    </div>



</body>

</html>