<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="app.css">
</head>

<body class="conc">
        <div id="content-header"><h1>Контакты</h1></div>
        <div class="row2">
                <div>
                    Главный офис, <br>шоу рум
                    <p><i id="ypoint"></i> г.Запорожье, ул.Чуйкова 21</p>
                    <p><i id="ytel"></i> тел/факс: +38 (096) 22 32 999</p>
                    <p><i id="ymail"></i>dym8750@gmail.com</p>
                </div>
            </div>
   


</body>

</html>