<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="app.css">

</head>

<body class="extr">
    <div class="app_header">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="logo">
                        <a href="" class="logolink">
                            <img class="image" src="https://opt-1203768.ssl.1c-bitrix-cdn.ru/upload/medialibrary/ddf/SZ_LOGO_06.png?154364522552294"
                                alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="naf">
                        <ol class="d-flex justify-content-between list-unstyled">
                            <li><a href="test1.html">Store</a></li>
                            <li><a href="About.html">About</a></li>
                            <li><a href="Contact.html">Contact</a></li>
                        </ol>
                    </div>
                    <p class="register1">
                        <a href="register.html"> Регистрация</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="hs-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ml-auto d-flex justify-content-between">
                    <p class="thumb">
                        <a target="_blank" href="off-white.html">
                            <img class="off-white2" src="https://images.ua.prom.st/1356696147_w500_h400_2_59853e9b_2865_4a90_b155_c1b89a4399b5_grande.png"
                                alt="Фотография(Off_white)" width="150" height="150">
                        </a>
                    </p>
                    <p class="vance">
                        <a target="_blank" href="vance.html">
                            <img src="vance.png" alt="Обувь(vance)" width="150" , height="150">
                        </a>

                    </p>
                </div>

                <div class="col-sm-6 d-flex justify-content-end">
                    <div class="region region-ceiling">
                        <div id="block-platform-top-banner" class="block block-platform">
                            <div class="content clearfix">
                                <div class="pull-right">
                                    <form action="/" method="post" id="platform-user-login-form" accept-charset="UTF-8">
                                        <div class="form">
                                            <div class="form-item form-type-textfield form-item-name">
                                                <label class="log" for="edit-name">E-Mail <span class="form-required"
                                                        title="Это поле обязательно для заполнения."></span></label>
                                                <input type="text" id="edit-name" name="name" value="" size="15"
                                                    maxlength="60" class="form-text required" />
                                            </div>
                                            <input type="hidden" name="form_build_id" value="form-q40Ekh7NMut3XD4O3e_PNKQRhDq6QqyIk_YszCVfIi4" />
                                            <input type="hidden" name="form_id" value="platform_user_login_form" />
                                            <div class="form-item form-type-password form-item-pass">
                                                <label class="pass" for="edit-pass">Пароль <span class="form-required"
                                                        title="Это поле обязательно для заполнения."></span></label>
                                                <input type="password" id="edit-pass" name="pass" size="15" maxlength="9"
                                                    class="form-text required" />

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="app.js"></script>

</body>

</html>