<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
</head>

<body class="Vance">
    <div class="d-flex justify-content-between align-items-start pr-5">
        <div class="d-flex align-items-end">
            <p class="clothes1">
                <img class="vance1" src="VAns.png" alt="Фотография(Vance)" width="300" height="300">
            </p>

            <h3 class="prices">
                Цена: 850грн
            </h3>
        </div>

        <button id="order-button" class="button1 button1--vance mt-5">
            Купить
        </button>
    </div>
    <p class="description1">
        Old Skool – модель, на которой появились фирменные боковые полоски, ставшие традиционным символом не только
        бренда, но и скейтбординга.<br>
        В этой модели используется универсальная размерная шкала, которая совпадает с мужской.<br>
        При выборе женского размера необходимо проверять соответствие в таблице размеров.<br>

        Материал:<br>
        55% Кожа 45% Текстиль Подошва 100% резина<br>
        Страна изготовления: Филиппины
        <p>
            <a class="tall" href="https://ru.babyshop.com/content/view/size-guide-Vans">Размеры</a>
        </p>

    </p>
    <div class="secondDescription1">
        <p>

        </p>
    </div>


    <div class="custom-modal custom-modal--order">
        <div class="close-modal">
            <div class="line line--left"></div>
            <div class="line line--right"></div>
        </div>

        <div class="custom-modal-body">
            <div class="order-list">
                <h3 class="order-list__price mb-0">
                    Цена: 850грн
                </h3>
                <button class="button-order">
                    Купить
                </button>
            </div>
        </div>
    </div>
    <div class="modal-mask"></div>






</body>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="app.js"></script>

</html>